extends layout

block content
  div.container
    div.row
      h1= title
      p Welcome to #{title}
  
    div(style="padding:50px 0").text-center
      div.logo login
      div.login-form-1
        form(class="" method="post" action="/session/new").text-left#login-form
          div.login-form-main-message
            div.main-login-form
              div.login-group
                div.form-group
                  label(for="email").sr-only Email
                  input(type="text" name="email" placeholder="email")#email
              div.form-group
                label(for="password").sr-only Password
                input(type='text' name='password' placeholder="password")#password
              div.form-group
                input(type="submit").btn#button
    
