extends layout

block content
  div.container
    div.row
      h1= title
      p Welcome to #{title}
  
    div(style="padding:50px 0").text-center
      div.logo login
      div.login-form-1
        form.text-left#login-form
          div.login-form-main-message
            div.main-login-form
              div.login-group
                div.form-group
                  label(for="username").sr-only Username
                  input(type="text" name="username" placeholder="username")#username
              div.form-group
                label(for="password").sr-only Password1
                input(type='text' name='password' placeholder="password")#password
              button(type='submit').login-button.fa.fa-chevron-right login
    
